In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
import requests
import json

In [24]:

base_path = "/Users/tinazhang/Downloads/"
file_name = "MSA_M2023_dl.csv"

file_path = base_path + file_name
df = pd.read_csv(file_path)
df

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,18.6,28.03,40.08,22750,28710,38680,58310,83360,NaN,NaN
1,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,...,39.09,58.27,81.79,42080,59290,81310,121200,170130,NaN,NaN
2,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,97.28,#,#,98490,135280,202340,#,#,NaN,NaN
3,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,...,37.19,57.85,86.97,34440,49430,77360,120330,180900,NaN,NaN
4,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-2021,Marketing Managers,...,45.31,72.66,97.35,60130,74980,94240,151130,202490,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149586,79600,"Worcester, MA-CT",4,MA,0,Cross-industry,cross-industry,1235,53-7062,"Laborers and Freight, Stock, and Material Move...",...,19.99,22.59,27.13,33730,36870,41570,47000,56420,NaN,NaN
149587,79600,"Worcester, MA-CT",4,MA,0,Cross-industry,cross-industry,1235,53-7063,Machine Feeders and Offbearers,...,21.87,23.35,26.13,39040,41310,45490,48570,54340,NaN,NaN
149588,79600,"Worcester, MA-CT",4,MA,0,Cross-industry,cross-industry,1235,53-7064,"Packers and Packagers, Hand",...,16.25,17.97,21.93,31200,31200,33800,37370,45610,NaN,NaN
149589,79600,"Worcester, MA-CT",4,MA,0,Cross-industry,cross-industry,1235,53-7065,Stockers and Order Fillers,...,17.57,20.59,22.48,31390,34900,36550,42830,46750,NaN,NaN
149590,79600,"Worcester, MA-CT",4,MA,0,Cross-industry,cross-industry,1235,53-7081,Refuse and Recyclable Material Collectors,...,27.88,29.01,29.46,37710,45110,57980,60350,61270,NaN,NaN

In [25]:
#AREA, AREA_TITLE, OCC_CODE, H_MEDIAN, A_MEDIAN, ANNUAL

In [26]:
base_path = "/Users/tinazhang/Downloads/"

# national data
years = list(range(2001, 2024))  # From 2001 to 2023
msa_data = {}

# Loop through each year and read the corresponding Excel file
for year in years:
    file_name = f"MSA_M{year}_dl.csv"  # Construct the file name
    file_path = base_path + file_name  # Construct the full file path

    # Read the Excel file into a DataFrame
    df = pd.read_csv(file_path)
    try:
        data_filtered = df[['AREA', 'AREA_TITLE', 'OCC_CODE', 'TOT_EMP', 'A_MEAN', 'A_MEDIAN', 'ANNUAL', 'H_MEDIAN']]
    except: # if lowercase
        try:
            try:
                data_filtered = df[['area', 'area_name', 'occ_code', 'tot_emp', 'a_mean', 'a_median', 'annual', 'h_median']]
            except:
                data_filtered = df[['AREA', 'AREA_NAME', 'OCC_CODE', 'TOT_EMP', 'A_MEAN', 'A_MEDIAN', 'ANNUAL', 'H_MEDIAN']]
        except:
            data_filtered = df[['area', 'area_title', 'occ_code', 'tot_emp', 'a_mean', 'a_median', 'annual', 'h_median']]
            

    # Rename columns
    data_filtered.columns = ['AREA', "NAME", "OCC_CODE", "TOT_EMP", "A_MEAN", "A_MEDIAN", 'ANNUAL', "H_MEDIAN"]

    msa_data[year] = data_filtered

In [27]:
# map 2010 SOC codes to 2018 SOC codes
crosswalk1 = pd.read_excel("/Users/tinazhang/Downloads/soc_2010_to_2018_crosswalk.xlsx")
soc_mapping1 = dict(zip(crosswalk1['U.S. Bureau of Labor Statistics'], crosswalk1['Unnamed: 2']))

In [28]:
# map 2000 SOC codes to 2010 SOC codes
crosswalk2 = pd.read_excel("/Users/tinazhang/Downloads/soc_2000_to_2010_crosswalk.xlsx")
soc_mapping2 = dict(zip(crosswalk2['Bureau of Labor Statistics'], crosswalk2['Unnamed: 2']))

In [30]:
all_data = pd.concat(msa_data.values())
all_data.to_csv('/Users/tinazhang/Downloads/msa_data.csv', index=False)